*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
    padding: 2%;
}
.align-center{
     align-items: baseline;
}
.d-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
    .d-width{
        width: 50%;
    }
.border-radius{
    border-radius: 15px;
    border: none;
    padding: 15px;
}
.padding-top{
    padding-top: 4%;
}

.bg-none{
    background: none;
}
nav li{
    color: lightgray
}
li:first-child{
    color: aliceblue;
}
/* nav{
    position: fixed;
    width: 100%;
    top: 0;
    
} */

.bg-image{
  background-image: url('1.jpeg');  
  height:50rem ;
  background-repeat: no-repeat;
  background-size: cover
  
}